* {
	margin: 0;
	padding: 0;
}
.recent-blog-posts {
	text-align: center;
	padding: 64px;
}
.rbp {
	font-weight: 700;
	font-size: 32px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.posts {
	display: grid;
	justify-items: center;
	max-width: 100%;
}
.post1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../assets/imgblog1.png);
	width: 90%;
	height: 229px;
	border-radius: 12px;
}
.post1-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--white);
	text-align: start;
	padding: 10px;
	border-radius: 8px;
	width: 297px;
}
.post1-content h2 {
	font-weight: 700;
	font-size: 18px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post1-content > p {
	font-weight: 400;
	font-size: 14px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.dateread {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 12px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../assets/imgblog2.png);
	width: 90%;
	height: 229px;
	border-radius: 12px;
}
.post2-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--white);
	text-align: start;
	padding: 10px;
	border-radius: 8px;
	width: 297px;
}
.post2-content h2 {
	font-weight: 700;
	font-size: 18px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post2-content > p {
	font-weight: 400;
	font-size: 14px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post3 {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../assets/imgblog3.png);
	width: 90%;
	height: 229px;
	border-radius: 12px;
}
.post3-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--white);
	text-align: start;
	padding: 10px;
	border-radius: 8px;
	width: 297px;
}
.post3-content h2 {
	font-weight: 700;
	font-size: 18px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post3-content > p {
	font-weight: 400;
	font-size: 14px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../assets/imgblog4.png);
	width: 90%;
	height: 229px;
	border-radius: 12px;
}
.post4-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--white);
	text-align: start;
	padding: 10px;
	border-radius: 8px;
	width: 297px;
}
.post4-content h2 {
	font-weight: 700;
	font-size: 18px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post4-content > p {
	font-weight: 400;
	font-size: 14px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post5 {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../assets/imgblog5.png);
	width: 90%;
	height: 229px;
	border-radius: 12px;
}
.post5-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--white);
	text-align: start;
	padding: 10px;
	border-radius: 8px;
	width: 297px;
}
.post5-content h2 {
	font-weight: 700;
	font-size: 18px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.post5-content > p {
	font-weight: 400;
	font-size: 14px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
