* {
	padding: 0;
	margin: 0;
}
.advantages {
	display: grid;
	justify-items: center;
	max-width: 90%;
	gap: 40px;
	background-color: var(--white);
	grid-template-areas:
		"a"
		"b"
		"c";
}
.ai-powered {
	display: flex;
	flex-direction: column;
	gap: 10px;
	grid-area: a;
	max-width: 60%;
}
.immediate-notifications {
	display: flex;
	flex-direction: column;
	gap: 10px;
	grid-area: b;
	max-width: 60%;
}
.protected-payments {
	display: flex;
	flex-direction: column;
	gap: 10px;
	grid-area: c;
	max-width: 60%;
}
.adv-title {
	font-weight: 700;
	font-size: 16px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.adv-desc {
	font-weight: 400;
	font-size: 16px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.objectives {
	display: flex;
	flex-direction: column;
	max-width: 90%;
	gap: 40px;
	align-items: center;
	align-self: center;
	padding-top: 50px;
}
.objectives-article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.objectives-articles-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	align-items: start;
	max-width: 85%;
}
.objectives h6 {
	font-weight: 700;
	font-size: 14px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.objectives h3 {
	font-weight: 700;
	font-size: 26px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.objectives-articles-content p {
	font-weight: 400;
	font-size: 16px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.objectives-articles-content p span {
	font-weight: 700;
	color: var(--charmpink);
}
.objectives img {
	width: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {

	.advantages {
		align-self: center;
		justify-items: center;
		grid-template-areas:
			"a b"
			"c .";
	}
	.ai-powered {
		max-width: 100%;
	}
	.immediate-notifications {
		max-width: 100%;
	}
	.protected-payments {
		max-width: 100%;
	}
	.objectives-ar {
		max-width: 90%;
	}
	.objectives-article {
		flex-direction: row;
		padding: 20px;
	}
	.objectives-article:nth-child(2) {
		flex-direction: row-reverse;
	}
	.objectives img {
		width: 20%;
	}

}
@media screen and (min-width: 1024px) {
	.advantages {
		align-self: center;
		justify-items: center;
		grid-template-areas: "a b c";
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.ai-powered {
		max-width: 100%;
	}
	.immediate-notifications {
		max-width: 100%;
	}
	.protected-payments {
		max-width: 100%;
	}
	.objectives-article {
		flex-direction: row;
		padding: 20px;
	}
	.objectives-article:nth-child(2) {
		flex-direction: row-reverse;
	}
	.objectives p {
		max-width: 70%;
	}
	.objectives img {
		width: 50%;
	}

}
