@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--darkpink: #9260e8;
	--white: #ffffff;
	--cyanblue: #48d0b7;
	--mirageblack: #3a3a3a;
	--charmpink: #cf468d;
	--lightgrey: #a2a2a2;
	--poppins: "Poppins";
}
.white-button {
	color: var(--mirageblack);
	background-color: var(--white);
	font-family: var(--poppins);
	border: 1px solid white;
	font-weight: 700;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 99px;
	width: max-content;
}
.white-button:hover {
	background: var(--mirageblack);
	color: var(--white);
}
.cyan-button {
	color: var(--white);
	background-color: var(--cyanblue);
	border: 1px solid var(--cyanblue);
	font-family: var(--poppins);
	font-weight: 700;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 99px;
	width: max-content;
}
.cyan-button:hover {
	border: 1px solid var(--white);
}
.textfield {
	padding: 10px 12px;
	border-radius: 4px;
	font-weight: 500;
	font-size: 14px;
	border: none;
	font-family: var(--poppins);
	color: var(--lightgrey);
}
label {
	font-weight: 600;
	font-size: 14px;
	color: var(--white);
	font-family: var(--poppins);
}
h1 {
	color: var(--white);
	font-weight: 700;
	font-size: 42px;
	line-height: 48px;
	font-family: var(--poppins);
	margin: 0;
	max-width: 70%;
}
.hero p {
	color: var(--white);
	font-size: 16px;
	font-weight: 400;
	font-family: var(--poppins);
	width: 70%;
}
body {
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	justify-content: center;
	background-color: var(--darkpink);
	padding: 50px 20px 20px;
}
nav {
	min-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 40px;
}
a {
	color: var(--white);
	font-family: var(--poppins);
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
}
.nav-links {
	display: none;
}
main {
	display: flex;
	flex-direction: column;
}
.hero {
	background-color: var(--darkpink);
	position: relative;
}
.hero-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}
.unicorn {
	display: none;
}
.wave {
	background: center/cover url(../assets/wave.svg);
	height: 110px;
}
.demo {
	background: linear-gradient(to right, #523682, #6062e8);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 50px;
}
.demo h2 {
	font-weight: 800;
	font-size: 32px;
	color: var(--white);
	font-family: var(--poppins);
}
.demo h3 {
	font-weight: 400;
	font-size: 16px;
	color: var(--white);
	font-family: var(--poppins);
}
.demo form {
	display: flex;
	flex-direction: column;
}
.formrow {
	display: flex;
	gap: 20px;
}
footer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 64px;
}
.logo-copyright {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	color: var(--lightgrey);
	font-family: var(--poppins);
}
.classes {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 40px;
}
.classes {
	display: grid;
	grid-template-areas:
		"d e"
		"f g";
	gap: 30px;
}
.footer-titles {
	font-weight: 800;
	font-size: 16px;
	color: var(--mirageblack);
	font-family: var(--poppins);
}
.footer-p {
	font-weight: 400;
	font-size: 12px;
	color: var(--lightgrey);
	font-family: var(--poppins);
}
.company {
	grid-area: d;
}
.support {
	grid-area: e;
}
.follow {
	grid-area: f;
}
.ressources {
	grid-area: g;
}
hr {
	grid-area: h;
	width: 4px;
	height: 65px;
	background-color: var(--lightgrey);
	border: none;
	display: none;
	align-self: center;
}
.unicorn2 {
	grid-area: i;
	display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	header {
		padding: 50px 50px 30px 50px;
	}
	nav {
		max-width: 90%;
	}
	.menu-burger {
		display: none;
	}
	.nav-links {
		display: block;
	}
	.wave {
		background: center/cover url(../assets/wave2.svg);
		height: 110px;
	}
	.hero {
		display: flex;
		flex-direction: column;
	}
	.hero-left {
		max-width: 80%;
		padding: 20px 50px 20px;
	}
	.hero p {
		max-width: 60%;
	}
	.unicorn {
		display: block;
		position: absolute;
		top: 50px;
		right: 20px;
	}
	.classes {
		grid-template-areas: "d e f g";
	}
}
@media screen and (min-width: 1024px) {
	header {
		padding: 50px 50px 30px 50px;
	}
	nav {
		max-width: 1100px;
	}
	.nav-links {
		display: block;
	}
	.nav-links:hover {
		opacity: 70%;
	}
	.menu-burger {
		display: none;
	}
	.unicorn {
		display: block;
		position: absolute;
		top: 50px;
		right: 200px;
	}
	.hero-left {
		padding: 20px 50px 20px;
	}
	h1 {
		max-width: 25%;
	}
	.hero p {
		max-width: 25%;
		margin-bottom: 20px;
	}
	.wave {
		background: center/cover url(../assets/wave3.svg);
		height: 110px;
	}
	hr {
		display: block;
		justify-self: center;
	}
	.classes {
		grid-template-areas: "d e f g h i";
	}
	.unicorn2 {
		display: block;
		justify-self: end;
	}
}
