@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--darkpink: #9260e8;
	--white: #ffffff;
	--cyanblue: #48d0b7;
	--mirageblack: #3a3a3a;
	--charmpink: #cf468d;
	--lightgrey: #a2a2a2;
	--poppins: "Poppins";
}
.white-button {
	color: var(--mirageblack);
	background-color: var(--white);
	font-family: var(--poppins);
	border: 1px solid white;
	font-weight: 700;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 99px;
	width: max-content;
}
.white-button:hover {
	background: var(--mirageblack);
	color: var(--white);
}
.cyan-button {
	color: var(--white);
	background-color: var(--cyanblue);
	border: 1px solid var(--cyanblue);
	font-family: var(--poppins);
	font-weight: 700;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 99px;
	width: max-content;
}
.cyan-button:hover {
	border: 1px solid var(--white);
}
.textfield {
	padding: 10px 12px;
	border-radius: 4px;
	font-weight: 500;
	font-size: 14px;
	border: none;
	font-family: var(--poppins);
	color: var(--lightgrey);
}
label {
	font-weight: 600;
	font-size: 14px;
	color: var(--white);
	font-family: var(--poppins);
}
h1 {
	color: var(--white);
	font-weight: 700;
	font-size: 42px;
	line-height: 48px;
	font-family: var(--poppins);
	margin: 0;
	max-width: 70%;
}
.hero p {
	color: var(--white);
	font-size: 16px;
	font-weight: 400;
	font-family: var(--poppins);
	width: 70%;
}
